<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://dubbo.apache.org/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
         http://dubbo.apache.org/schema/dubbo
        http://dubbo.apache.org/schema/dubbo/dubbo.xsd">
   <!--指定应用名称-->
    <dubbo:application name="health_job"/>
    <!--指定注册中心-->
    <dubbo:registry address="zookeeper://127.0.0.1:2181"/>
    <!--任务类使用dubbo扫包-->
    <dubbo:annotation package="com.itheima.job"/>
    <!--策略-->
    <bean id="jobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <!--  因为已经扫包了可以直接写对象名  类上加了@Component -->
        <property name="targetObject" ref="CleanImgJob"/>
        <!--  方法名  -->
        <property name="targetMethod" value="cleanImg"/>
        <!--concurrent
            为true时，多线程来跑任务 异步
        false: 则为单线程来跑任务 同步
        -->
        <property name="concurrent" value="false"/>
    </bean>
    <!--触发器 -->
    <!--每30秒触发一次-->
    <bean id="trigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="cronExpression" value="0/59 * * * *  ?"/>
        <property name="jobDetail" ref="jobDetail"/>
    </bean>
    <!--调度容器-->
    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="trigger"/>
            </list>
        </property>
    </bean>
    <!--不知道为啥只能手动 创建Bean-->
    <bean id="CleanImgJob" class="com.ywc.agric.jobs.CleanImgJob"/>


</beans>