<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://dubbo.apache.org/schema/dubbo" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://dubbo.apache.org/schema/dubbo
       http://dubbo.apache.org/schema/dubbo/dubbo.xsd
       http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
  <context:component-scan base-package="com.ywc"/>
    <!-- 指定应用名称 -->
    <dubbo:application name="agric_service"/>

    <!--指定暴露服务的端口，如果不指定默认为20880-->
    <dubbo:protocol name="dubbo" port="20886"/>


    <!--指定服务注册中心地址-->
    <!-- simplified="true"表示注册简化版的URL到Registry -->
    <dubbo:registry address="zookeeper://127.0.0.1:2181" simplified="true"/>
    <!--批量扫描，发布服务-->
    <dubbo:annotation package="com.ywc.agric.service"/>

    <import resource="classpath:applicationContext-tx.xml"/>

    <!-- 多协议配置 -->
    <dubbo:protocol name="dubbo" port="20881"/>
    <dubbo:protocol name="rmi" port="1099"/>

    <!--超时时间设置为60秒钟-->
    <dubbo:consumer timeout="600000" check="false"/>

</beans>